<section id="hero" class="d-flex align-items-center">

    <!-- <div class="container1-fluid"> -->
      <!-- <div class="row">
        <div class="col-lg-3 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center text-left"> -->
          
        <p class="aba bg-primary animate__animated animate__backInLeft mb-5">Un etudiant, un stage
          <br>FORMATION DE STAGE 100% PRATIQUE
        </p>
                    <h1 class=" mt-4">Donner les Jeunes Formés un stage </h1>
                    <p class="solm mt-4 " > Possibilite de stage souhaitée,Voici une solution,notre entreprise est là pour vous offrir une expérience optimale aux étudiants du début à la fin</p>
                     
                
                  
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
     Inscrivez vous
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <!-- <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">FORMATION DE STAGE 100% PRATIQUE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          <!-- </div> -->
          <div class="modal-body">
          <div class="section2">
            <div class="card my-3 " style="width:28em; margin: auto">
    
                <div class="card-header text-black fs-5 fw-bold text-center">FORMATION DE STAGE 100% PRATIQUE</div>
                <div class="card-body">
                    <form action="{{route('store.candidat')}}" method="post" enctype="multipart/form-data">
                        @csrf
                        <div class="form-group">
                            <label for="email">Adresse Email:</label>
                            <input type="email" name="email" id="email" placeholder="Votre réponse" class="form-control my-3" required>
                        </div>
                        <div class="form-group">
                            <label for="">Nom:</label>
                            <input type="text" name="nom" id="" placeholder="Votre réponse" class="form-control my-3">
                        </div>
    
                        <div class="form-group">
                            <label for="">Prenom:</label>
                            <input type="text" name="prenom" id="" placeholder="Votre réponse" class="form-control my-3" required>
                        </div>
    
                        <div class="form-group">
                            <label for="">Téléphone</label>
                            <input type="tel" name="telephone" id="" placeholder="Votre réponse" class="form-control my-3" required>
                        </div>
    
                        <div class="form-group">
                            <label for="">Adresse Domicile</label>
                            <input type="text" name="adresse" id="" placeholder="Votre réponse" class="form-control my-3" required>
                        </div>
    
                        <div class="form-group">
                            <label for="">Choisir votre domaine de compétence</label>
                            
                            <select name="domaine" id="" class="form-control my-3">
                                {{-- foreach module --}}
                                @foreach ($module as $modules)
                                    <option value="{{ $modules->libele }}">{{ $modules->libele }}</option>
                                @endforeach
                                <option value="Ressources Humaines">Ressources Humaines</option>
                                <option value="Marketing Digital">Marketing Digital</option>
                                <option value="Gestion Projet">Gestion Projet</option>
                                <option value="Informatique Bureautique">Informatique Bureautique</option>
                                <option value="Développement Web">Développement Web</option>
                                <option value="Ardino(Robotique-Internet des objets connectés)">Ardino(Robotique-Internet des objets connectés)</option>
                                <option value="Modélisation et Impression 3D">Modélisation et Impression 3D</option>
                                <option value="Maintenance">Maintenance</option>
                                <option value="Design Graphique">Design Graphique</option>
                                <option value="Autres">Autres</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="myfile">Télécharger votre CV:</label>
                            <input type="file" id="myfile" name="myfile" accept = "application/pdf" class="form-control my-3"  required>
    
                        </div>
    
                        <div class="form-group">
                            <label for="">Question/Suggestion/Commentaire</label>
                            <input type="text" name="question" id="" placeholder="Votre réponse" class="form-control my-3" required>
                        </div>
    
                        <div class="form-group">
                            <button class="btn mt-3">Envoyer</button>
                            {{-- <button class="btn text-danger float-end mt-2" >Effacer le formumaire</button> --}}
                        </div>
                    </form>
                    @if (session('success'))
                  <script>
                   swal("Success","{{ Session::get('success')}}", 'success',{
                     button:true,
                     button:"Ok",
                   });
                  </script>
                  @endif
                </div>
            </div>
        </div>
    
    </section>
    